@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FIT5032 - Week 05</h1>
    <p class="lead">This project is a sample solution for Week 5 made for the new Visual Studio</p>
    <p>
        In order for it to be done properly, you will need to read the Bootstrap Guide provided on Week 4.
        However, this is an optional component for this unit.
    </p>
    <p>The challenge exercises below are meant to encourage self learning. No solutions will be provided.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Challenge 1</h2>
        <p>Add some basic JQuery feature. Hiding a div or etc.</p>
        <p>Difficulty - <span class="text-info">Easy</span></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Challenge 2</h2>
        <p>Improve upon the current date picker by allowing the selection time as well.</p>
        <p>You can explore more NuGet packages and understand how it is a very powerful tool.</p>
        <p>Difficulty - <span class="text-warning">Medium</span></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Challenge 3</h2>
        <p>Allow a drill down feature from Customers. So that you can drill down upon the information of each customer.</p>
        <p>Difficulty - <span class="text-danger">High</span></p>
    </div>
</div>
<div class="col-md-12">
    <h2 class="text-center">Challenge 4</h2>
    <p>You can improve the loading of the data tables. I am currently loading all rows at once. If you want to, figure out a way to improve this.</p>
    <p>You might have to restructure many things.</p>
    <p>Difficulty - <span class="text-danger">Expert</span></p>
</div>
